body, html{
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    line-height: 1.6;
    color: hsl(207, 13%, 34%);
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    outline: none !important;
    text-decoration: none;
    list-style-type: none !important;
}

header {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    border-bottom-left-radius: 150px;
    background-image: url('./images/bg-pattern-intro-desktop.svg');
    background-position-x: 15%;
    background-position-y: -80%;
    box-sizing: border-box;
}


header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom right, hsla(13, 100%, 72%, 0.9), hsl(353, 100%, 62%));
    z-index: -99;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    width: 100%;
}



header .logo {
    float: left;
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    padding: 25px;
    margin-left: -25%;
    text-align: center;
}

header .logo img {
    width: 130px;
}

header ul {
    margin-top: 40px;
}

header ul li {
    cursor: pointer;
}

header ul.menu-left {
    float: left;
    margin-left: -5%;
}

header ul.menu-left li {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: center;
}

header ul.menu-left  li .up-arrow {
    display: none;
    width: 9px;
    margin-bottom: -7px;
}

header ul.menu-right {
    float: right;
    margin-right: -25%;
}

header ul.menu-right li{
    display: inline-block;
    padding: 20px; 
}

header ul.menu-right li a {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

header .cta {
    border-radius: 2em;
    padding: 1em 3em;
}

header ul.menu-right li a.signup {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

header ul.menu-right li a.signup:hover {
    background: hsl(355, 100%, 74%);
    color:hsl(0, 0%, 100%);
}

header ul.menu-right::after {
    clear: both;
    content: '';
}

header ul.menu-left .dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    line-height: 2em;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
    padding: 20px 40px;
    box-shadow: hsla(237, 17%, 21%, 0.35) 0px 5px 15px;
    box-sizing: border-box;
}

header ul.menu-left .dropdown a {
    display: block;
    color: hsl(237, 17%, 21%);
    font-weight: 300;
}

header ul.menu-left .dropdown a:hover {
    font-weight: bold;
}

header .intro {
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .intro h1 {
    font-size: 4em;
    font-weight: 600;
}

header .intro p {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-weight: 300;
}

header .intro a.start {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    margin-right: 25px;
}

header .intro a.start:hover {
    background: hsl(355, 100%, 74%);
    color:hsl(0, 0%, 100%);
}

header .intro a.learn-more {
    color: hsl(0, 0%, 100%);
    border:2px solid hsl(0, 0%, 100%);
}

header .intro a.learn-more:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

section {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10%;
    box-sizing: border-box;
    line-height: 2em;
    overflow: hidden;
}

.wrapper { 
    width: 100%;
    margin: 0 auto;
}

section h1 {
    text-align: center;
    color: hsl(208, 49%, 24%);
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 2.5em;
}

section .description {
    margin-bottom: 2.5em;
    padding: 30px;
}

section .about-left {
    float: left;
    width: 50%;
}

section .about-left h2 {
    color: hsl(208, 49%, 24%);
    font-size: 2em;
    margin-bottom: 1.5em;
}

section .about-left p {
    font-size: 1.2em;
}


section .about-right {
    position: absolute;
    right: -13%;
    top: 10%;
    width: 50%;
}

section .about-right .editor {
    width: 100%;
}

